.oe-button{
  font-size: 16px;
  line-height: normal;
  margin: 0;
  padding: 8px 14px;
  text-align: center;
  border: 0;
  background: none;
  cursor: pointer;
}

.oe-d-flex{
  display: flex;
  flex-wrap: wrap;
}

.oe-modal-outer{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  display: flex;
  align-items: center;
  z-index: 999;
}

.oe-modal{
  border-radius: 1rem;
  box-shadow: 0 1.25rem 1.25rem -0.5rem #00000047;
  background-color: #fff;
  max-width: 620px;
  width: calc(100% - 2rem);
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 3.75rem);
}

.oe-modal p {
  margin: 0;
  line-height: 1.5em;
}

.oe-modal .oe-btn {
  text-align: center;
  border: 1px solid #0000;
  background-color: #1773b0;
  border-radius: 4px;
  color: #fff;
  padding: 12px 16px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  cursor: pointer;
}

.oe-modal .oe-modal-header {
  padding: 16px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #e3e3e3;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: initial;
  display: flex;
  align-items: center;
}

.oe-modal .oe-modal-body {
  padding: 16px;
  color: initial;
  overflow-y: auto;
}

.oe-modal .oe-modal-action {
  padding: 16px;
  border-top: 1px solid #e3e3e3;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: flex-end;
}

.oe-modal .oe-modal-header-title {
  flex: 1 1 auto;
  padding-right: 0.8rem;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
}

.oe-modal .oe-close {
  padding: 4px;
  cursor: pointer;
  margin: -4px;
  border-radius: 8px;
  border: none;
  background-color: transparent;
}

.oe-modal .oe-close svg {
  width: 18px;
  height: 18px;
  display: block;
}